@model IEnumerable<BeanSceneSystem.Models.Area>

@{
    ViewData["Title"] = "Index";
}

<h1>Areas</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AreaName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AreaName)
            </td>
                @if (User.IsInRole("Admin"))
                {
            <td>
                <a asp-action="Edit" asp-route-id="@item.AreaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AreaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AreaID">Delete</a>
            </td>
                }
        </tr>
}
    </tbody>
</table>